*{
    padding: 0;
    margin: 0;
}
body {
    font-family: "Sevillana", cursive;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(0, 0, 0);
  }
.titlebar{
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color:wheat;
    text-decoration-style: dashed;
    text-decoration-thickness: 2px;
}
.container div{
    width: 200px;
    color: white;
    margin: 10px;
    flex-basis:23%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}